// Da bi kruzili kroz sve boje poput petlje koristimo :
// Key&value jedino mozemo koristiti unutar petlje, jer su lokalne a ne globalne varijable

@each $key, $val in $colors {
  .text-#{$key} {
    color: $val;
  }

  .bg-#{$key} {
    background-color: $val;
  }
  // Light variations ( For loop )

  // IF ovde koristimo kako ne bi imali belu i crnu od svake boje, nego samo jednu belu bolu i jednu crnu boju
  // Optimizacija koda

  @if ($val != black and $val != white) {
    @for $i from 1 through 9 {
      .text-#{$key}-light-#{$i} {
        color: mix(white, $val, $i * 10);
      }
      .text-hover-#{$key}-light-#{$i} {
        &:hover {
          color: mix(white, $val, $i * 10);
        }
      }
      .bg-#{$key}-light-#{$i} {
        background-color: mix(white, $val, $i * 10);
      }
      .text-#{$key}-dark-#{$i} {
        color: mix(black, $val, $i * 10);
      }
      .bg-#{$key}-dark-#{$i} {
        background-color: mix(black, $val, $i * 10);
      }
    }
  }
}
